# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*develop-eggs/
*dist/
*downloads/
*eggs/
*.egg-info/
*lib/
*lib64/
*parts/
*sdist/
*var/
*wheels/
*.egg
instance/
MANIFEST

# Virtualenv
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Application specific
debug_output/
received_images/
processed_images/
*.log